@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
/* Variables */
:root {
  --font-family: "Montserrat", sans-serf;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --main-font-color: #f5f5f5;
  --bg-color: #011932;
  --bg-color2: #0c2f55;
  --primary-color: #4756df;
  --secondary-color: #ff7235;
  --nav-color: #b0c4de;
  --primary-shadow: #8b8eaf;
  --secondary-shadow: #a17a69;
  --bottom-margin: 0.65rem;
  --bottom-margin2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--secondary-color);
}

body {
  font-family: var(--font-family);
  color: var(--main-font-color);
  background-color: var(--bg-color);
}

section {
  margin-bottom: var(--bottom-margin2);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 3.5rem;
  background-color: var(--nav-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}

.navigation a {
  color: black;
}

.navigation a:hover {
  color: black;
  border-bottom: 2px solid white;
  transition: 0.3s;
}

nav .nav-logo {
  height: 100px;
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

/* HERO SECTION */
.hero {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  text-align: center;
  flex-direction: column;
  background: url("../images/header/cristiano-firmani-tmTidmpILWw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 90vh;
  margin-bottom: var(--bottom-margin);
}

/* HERO ANIMATION */
.wavy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 50px;
}

.wavy span {
  position: relative;
  display: inline-block;
  color: whitesmoke;
  animation: wavy 2s;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes wavy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-20px);
  }
}

/* ABOUT SECTION */
.about {
  background-color: var(--bg-color2);
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  margin: var(--bottom-margin);
}

.about h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin);
}

.about p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}
/* PROJECTS SECTION */
.project-pic {
  width: 65%;
  height: 60%;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  background-color: var(--bg-color2);
  color: white;
  text-align: center;
  width: 21.875rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-bottom: var(--bottom-margin);
}

.project-details {
  margin-bottom: var(--bottom-margin);
}

.project-card {
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.btn-row button {
  border: none;
  padding: 12px 24px;
  border-radius: 50px;
  font-weight: 600;
  color: #0077ff;
  background-color: #e0efff;
  margin: 0 auto;

  transition: all 200ms ease-in-out;
  cursor: pointer;
}

.btn-row button:focus,
.btn-row button:hover {
  background-color: #0077ff;
  color: #e0efff;
}

.skills {
  max-width: 68.75rem;
  margin: auto;
  text-align: center;
  margin-top: 2.5rem;
  margin-bottom: var(--bottom-margin2);
}

.skill-header {
  margin-bottom: var(--bottom-margin2);
}

.skills-wrapper img {
  padding: 1.25rem;
}

.icon {
  width: 11.875rem;
  height: 11.25rem;
}

.icon-card {
  background-color: var(--bg-color2);
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--secondary-shadow);
  padding: 20px;
  margin: 10px;
}
/* EDUCATION SECTION */
.education-section {
  background-color: var(--bg-color2);
  padding: 0.625rem;
  border-radius: 6px;
  box-shadow: 0px 2px 15px 2px var(--primary-shadow);
  margin: 50px auto;
  width: 50%;
}

/* CONTACT SECTION */
.contact {
  margin-top: 2rem;
}

.contact h2 {
  text-align: center;
  margin-bottom: var(--bottom-margin2);
}

.contact-form-container {
  max-width: 40.75rem;
  margin: 0 auto;
  padding: 0.938rem;
  background-color: var(--bg-color2);
  box-shadow: 0 3px 10px var(--secondary-shadow);
  border-radius: 10px;
}

.contact-form-container label {
  line-height: 2.7em;
  font-weight: var(--bold-font);
}

.contact-form-container textarea {
  min-height: 6.25rem;
  font-size: 14px;
  margin-bottom: var(--bottom-margin);
}

.contact-form-container .input-field {
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 0.875rem;
  outline: none;
}

.input-field::placeholder {
  padding: 0.5rem;
  color: #0077ff;
}

.form-btn {
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  color: #fff;
  cursor: pointer;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 25px;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form-btn:hover {
  background-position: 100% 0;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.form-btn:focus {
  outline: none;
}

.form-btn.btn_gradient {
  background-image: linear-gradient(
    to right,
    #667eea,
    #764ba2,
    #6b8dd6,
    #8e37d7
  );
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.footer {
  margin: 0 auto;
  text-align: center;
  padding: 64px 0;
  font-size: 24px;
  max-width: 980px;
}
